{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% extends '::backendBase.html.twig' %}

{% block body %}
    <h1>Reporte edit</h1>

    {{ form_start(edit_form, {'attr':{'class':'edit-form','novalidate': 'novalidate'}}) }}
        {{ form_row(edit_form.translations) }}

        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_reportes_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
