{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reporte</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reporte.id }}</td>
            </tr>
            <tr>
                <th>Tittle</th>
                <td>{{ reporte.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ reporte.content }}</td>
            </tr>
            <tr>
                <th>Notas</th>
                <td>{{ reporte.notas }}</td>
            </tr>
            <tr>
                <th>Locale</th>
                <td>{{ reporte.locale }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_reportes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_reportes_edit', { 'id': reporte.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
